/*COLORS USED
  Background - white (#FFFFFF)
  Text - black (#000000)
  dark blue (#466675)
  blue (#6A8D9D)
  gray (#CCCCCC)
  bright blue (#94FFFC)
  pink (#FAC8BF)
*/

*{
  box-sizing: border-box;
}


body{
  background-color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;line-height: 1.6;
  color: #000000;
}

h1, h2, h3, h4 {
  line-height:1.4;
}
h1{
  font-size: 2.75em;
  font-weight: 500;
  text-align: center;
}
h2{
  font-size: 2.25em;
  font-weight: 500
}
h3{
  font-size: 1.75em;
  font-weight: 400;
}
h4{
  font-size: 1.35em;
  font-weight:400;
}




img{
  width: 100%;
}




a{
  color:#000000;
  text-decoration: none;
}
a:hover,
a:focus
a:active{
  opacity: 0.75;
}



.button{
  display: inline-block;
  background-color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #000000;
  transition: 0.2s opacity;
}
.button:hover{
  background-color: #000000;
  color: #FFFFFF !important;
}




/* Layout Styling */

header{
  display: inline-block;
  width: 100%;
  box-shadow:  0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

main{
  padding-top: 160px;
}

#hero{
  background-color:#ffffff;
  display: inline-block;
  width:100%;
}

.container{
  padding: 0 15px;
}

.row{
  padding: 0 0 25px 0;
  border-bottom:1px solid #466675;
  margin: 25px 0;
}



.logo{
  max-width: 250px;
}

nav{
  display: inline-block;
  width:100%
}

nav>ul{
  list-style-type: none;
  padding: 0;
}
nav>ul>li{
  display: inline-block;
}
nav>ul>li>a{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
}

.icons{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.email,
.linkedin{
  max-width: 75px;
  max-height: 75px;
  margin: 10px 10px;
}

#title .description{
  text-align: center;
}
@keyframes color2{
  0% {fill:#FAC8BF;}
  50% {fill:#FB8974;}
  100% {fill:#F0FBD9;}
}

#circle{
  animation: 4s color2 infinite alternate linear;
}


@keyframes move1{
  0% {transform:translatey(0px);}
  25% {transform: translatey(-15px)}
  50% {transform:translatey(0px);}
  75% {transform:translateY(15px);}
  100% {transform:translatey(0px);}
}


#letterh1,
#lettern7{
  animation: 3s move1 infinite linear;
}


#lettere2,
#letterh8{
  animation: 3s move1 infinite linear;
  animation-delay: 0.5s;
}

#lettere3,
#letterw9{
  animation: 3s move1 infinite linear;
  animation-delay: 1s;
}

#lettery4,
#lettera10{
  animation: 3s move1 infinite linear;
  animation-delay: 1.5s;
}

#lettere5,
#lettern11{
  animation: 3s move1 infinite linear;
  animation-delay: 2s;
}

#lettero6,
#letterg12{
  animation: 3s move1 infinite linear;
  animation-delay: 2.5s;
}

